<div class="bloc left">
  <div class="titre"><h2>Liste des ingrédients</h2></div>
  <table style="width: 100%">
    <% recipies.each do |recipie| %>
    <tr>
      <td style="width: 50px"><%= recipie.number %></td>
      <td><%= image_tag recipie.ingredient.url, :size => "25x25" unless recipie.ingredient.url_missing? %></td>  
      <td><%= link_to recipie.ingredient.name, recipy_path(recipie.ingredient) %></td>
      <%= form_for(recipie, :method => 'DELETE') do |f| %>
      <td><%= image_submit_tag 'delete.png' %></td>
      <% end %>
    </tr>  
    <% end %>
  </table>
</div>
