<div class="bloc left">
  <div class="titre"><h2>Liste des artisans</h2>
    <table><tr>
      <td>Membre</td>
      <td width="75px"></td>
      <td>Niveau</td>    
    </tr></table>
  </div>
  <table style="width: 100%">
    <% craftmen.each_value do |crafting| %>
    <tr>
      <td colspan="4" class="titre"><%= image_tag crafting[:icone], :size => "25x25" unless crafting[:icone].nil? %>  <%= link_to crafting[:name], crafting_path(crafting[:id]) %>  <%= image_tag crafting[:icone], :size => "25x25" unless crafting[:icone].nil? %></td>
    </tr>
    <% crafting[:members].each do |member| %>
    <tr>
      <td><%= member[:name] %></td>  
      <td style="width: 50px"><%= member[:level] %></td>  
    </tr>  
    <% end %>
    <% end %>
  </table>
</div>
