<div class="bloc left">
  <div class="titre"><h2>Matériaux nécessaires</h2>
  <table style="width: 100%"><tr>
    <td>Items</td>
    <td class="td_indent"></td>
    <td class="td_indent"></td>
    <td class="td_indent"></td>
    <td class="td_indent"></td>
    <td>Priorité</td>
  </tr></table>    
  </div>
  <table style="width: 100%">
  <tr>
      <td colspan="6">Par récolte:</td>
  </tr>
  <% items.select {|k, v| v[:item].gathering }.each do |key, item| %>
  <tr>
    <%= form_for(item[:item], :remote => true) do |f| %>
      <td class="td_indent"></td>
      <td><%= image_tag item[:item].url, :size => "25x25" unless item[:item].url_missing? %></td>
      <td><%= link_to item[:item].name, recipy_path(item[:item]) %></td>
      <td class="td_indent"></td>
      <td><%= item[:sum] %></td>
      <td class="td_indent"></td>
      <td><%= f.collection_select :priority_id, Priority.find(:all), :id, :name %></td>
      <td><%= image_submit_tag 'save.png', :method => 'PUT', :class => "button" %></td>
    <% end %>
    </tr>
  <% end %>

  <tr>
      <td colspan="6">Par recyclage/loot:</td>
  </tr>
  <% items.select {|k, v| v[:item].looting||v[:item].salvaging }.each do |key, item| %>
  <tr>
    <%= form_for(item[:item], :remote => true) do |f| %>
      <td class="td_indent"></td>
      <td><%= image_tag item[:item].url, :size => "25x25" unless item[:item].url_missing? %></td>
      <td><%= link_to item[:item].name, recipy_path(item[:item]) %></td>
      <td class="td_indent"></td>
      <td><%= item[:sum] %></td>
      <td class="td_indent"></td>
      <td><%= f.collection_select :priority_id, Priority.find(:all), :id, :name %></td>
      <td><%= image_submit_tag 'save.png', :method => 'PUT', :class => "button" %></td>
    <% end %>
    </tr>
  <% end %>

  <tr>
      <td colspan="6">Par achat:</td>
  </tr>
  <% items.select {|k, v| v[:item].purchasing }.each do |key, item| %>
  <tr>
    <%= form_for(item[:item], :remote => true) do |f| %>
      <td class="td_indent"></td>
      <td><%= image_tag item[:item].url, :size => "25x25" unless item[:item].url_missing? %></td>
      <td><%= link_to item[:item].name, recipy_path(item[:item]) %></td>
      <td class="td_indent"></td>
      <td><%= item[:sum] %></td>
      <td class="td_indent"></td>
      <td><%= f.collection_select :priority_id, Priority.find(:all), :id, :name %></td>
      <td><%= image_submit_tag 'save.png', :method => 'PUT', :class => "button" %></td>
    <% end %>
    </tr>
  <% end %>

  </table>
</div>

