<!DOCTYPE html>
<html>
<head>
  <title>Genesis</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "scriptaculous/lib/prototype" %>
  <%= javascript_include_tag "scriptaculous/src/scriptaculous" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
