<!DOCTYPE html>
<html>
<head>
  <title>Genesis</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "scriptaculous/lib/prototype" %>
  <%= javascript_include_tag "scriptaculous/src/scriptaculous" %>

  <%= javascript_include_tag "scriptaculous/src/builder" %>
  <%= javascript_include_tag "scriptaculous/src/controls" %>
  <%= javascript_include_tag "scriptaculous/src/dragdrop" %>
  <%= javascript_include_tag "scriptaculous/src/effects" %>
  <%= javascript_include_tag "scriptaculous/src/slider" %>
  <%= javascript_include_tag "scriptaculous/src/sound" %>
  <%= javascript_include_tag "scriptaculous/src/unittest" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
