<div class="bloc4 left">
  	<div class="titre"><h2>Professions</h2></div>
	<table>
      <% member.craftmen.each do |craftman| %>
	  <tr>
      <%= form_for(craftman, :html => { :class => "left"}) do |f| %>
      <td style="width: 150px"><%= craftman.craft_name %></td><td><%= f.number_field :level, :size => 1 %></td><td><%= f.submit "Save", :method => 'PUT' %></td>
	  <% end %>
	  <td><%= button_to "Delete", craftman_path(craftman), :method => :delete %></td>
      </tr>
	  <% end %>

      <tr></tr>
      <tr>  
      <%= form_for(Craftman.new) do |f| %>
      <%= f.hidden_field :member_id,  :value => member.id %>
      <td style="width: 150px"><%= f.collection_select :crafting_id, Crafting.find(:all), :id, :name %></td><td><%= f.number_field :level, :size => 1 %></td><td><%= f.submit "Add", :method => 'POST' %></td>
      <% end %>
      </tr>
    </table>
</div>
